@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"); 
}
body {
  font-family:     
  font-size:       
}
h1, h2 {
  color:          
  border-bottom:   
}
h1 {
  font-family:     
  font-size:       
}
h2 {
  font-size:       
  font-weight:    
}
blockquote {
  font-style:      
}
